<div class="container">
  <h2>
    All Rental Data
    <%= link_to "View Map", rentals_map_path, class: "btn btn-dark" %>
  </h2>
  <table class="table text-center">
    <thead>
      <tr>
        
        <th class="hide">ID</th>
        <th class="hide">Link to Post</th>
        <th class="hide">Date</th>
        
        <th>Address</th>
        <th>Price</th>
        <th>Bdrms</th>
        <th>Baths</th>
        <th>Square Feet</th>
        
        <th class="hide">Latitude</th>
        <th class="hide">Longitude</th>
        
        <th class="bool-header pc-menu">Parking?</th>
        <th class="bool-header pc-menu">Laundry?</th>
        <th class="bool-header pc-menu">Dish Washer?</th>
        <th class="bool-header pc-menu">Disability Access?</th>
        <th class="bool-header pc-menu">Furnished?</th>
        <th class="bool-header pc-menu">No-Smoking?</th>
        <th class="bool-header pc-menu">Cats?</th>
        <th class="bool-header pc-menu">Dogs?</th>
        <th class="bool-header pc-menu">Yard?</th>

        <th>Landlord</th>
      </tr>
    </thead>

    <tbody>
    <%= render @rentals %>
    </tbody>

  </table>
</div>
