<table>
  <tr>
    <th>ID</th>
    <th>Link to Post</th>
    <th>Date</th>
    <th>Address</th>
    <th>Square Foot</th>
    <th>Bathrooms</th>
    <th>Bedrooms</th>
    <th>Price</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Non-Smoking</th>
    <th>Cats</th>
    <th>Dogs</th>
    <th>Wheelchair Accessible</th>
  </tr>

<%= render @rentals %>

</table>
