<%= render 'rentals/rental_form/landlord_FAQ_modal' %>
<%= render 'rentals/rental_form/address_FAQ_modal' %>
<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
    <div class="row">
      <h3 class="text-center">Volunteer your Rental Data</h3>

      <div class="col-sm-offset-3 col-sm-6">

        <%= render 'rentals/rental_form' %>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
    // To style only selects with the selectpicker class
  $('.selectpicker').selectpicker();
</script>

