<div class="text-center">
	<strong>You must <%= link_to "Login", login_path %> to add new landlords to the database.</strong><br/>
	<strong>
		If you cannot find your landlord and do not want to <%= link_to "Signup", signup_path %>, please leave this section blank.
	</strong> 
</div>
